@{
    ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated) {
<h2>Index</h2>
<form action="/Home/Chat" method="get">
    refere<button type="submit">Submit</button>
</form>
} else {
<a id="big-login" href="/account/login"></a>
<div id="laptop"></div>
}